.banniere {
  max-width: 100%;
}

.img {
  max-width: 100%;
  height: auto;
}

.img:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

@media (min-width: 391px) {
  .banniere {
    position: relative;
    padding: 10px;
  }

  .banniere:hover .banniereTitle {
    top: 10px;
    left: 30px;
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .banniereTitle {
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 1;
    color: #f6f5f4;
    font-weight: normal;
    background-color: rgba(30, 30, 36, 0.7);
    padding: 5px 10px;
    max-width: 60%;
    border-radius: 5px;
  }

  .img {
    max-width: 300px;
    height: 65vh;
    object-fit: cover;
    filter: brightness(0.6);
  }
  .img:hover {
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
  }
}
