.subCarousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(128, 128, 128);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentImage {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 95vw;
  max-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media (min-width: 1200px) {
  .image {
    max-width: 95vw;
    max-height: 95vh;
  }

  .info {
    width: 80vw;
    left: 50;
  }
}

.info {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(18, 18, 18, 0.9), rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0.2));
  color: #FFF8F0;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  transition: bottom 0.5s ease;
}

.infoTitle {
  font-size: calc(1rem + 0.5vw);
  margin: 0;
}

.reference {
  font-size: calc(0.8rem + 0.3vw);
  margin: 5px 0 0;
}

.closeButton {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(30, 30, 36, 0.7);
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.closeButton:hover {
  background-color: rgba(30, 30, 36, 0.9);
}

.closeButton img {
  width: 100%;
  height: 100%;
}

.toggleButton {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(30, 30, 36, 0.7);
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, bottom 0.5s ease;
  z-index: 3;
}

.toggleButton:hover {
  background-color: rgba(30, 30, 36, 0.9);
}

.toggleIcon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.rotated .toggleIcon {
  transform: rotate(180deg);
}

.showText {
  bottom: 0;
}

.showText~.toggleButton {
  bottom: 85px;
}

.prevButton,
.nextButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  transition: translate 0.3s ease;
}

.prevButton:hover {
  translate: -10px;
}

.nextButton:hover {
  translate: 10px;
}