@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');


body {
  font-family: "Cormorant Upright", serif;
  background-image: url(../public/assets/images/carte.jpg);
}

h1 {
  font-family: "Cormorant Upright", serif;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
}

@media (max-width: 390px) {
  .navigation {
    justify-content: center;
  }
}

.roseVent {
  width: 100px;
}

.navigationTitre {
  font-size: 64px;
}